@charset "UTF-8";
@import './_base.scss'; 
@import './px2rem.scss';

$designWidth:960;

html,body
{
    padding:0;
    margin: 0;
    width:100%;
    height:100%;
    background-color:  #1c2f4e;
	/*border:1px solid red;*/
}
//navbar-container
body .navbar-container{
    height:px2rem(105);
    margin:px2rem(9) px2rem(60);
    box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
    border:px2rem(3) solid #1f8bc8;
    position:relative;
    display:block;

    .logo-title{
    height:100%;
    float:left;
    // background-color:red;
    display:flex;
    align-items: center;

    img{
       height:81%;
       left:px2rem(30);
       float:left;
       margin:0 px2rem(30);
    }
    h3{
        color:white;
        font-size:px2rem(33);
        float:left;
    }
    }

    .skewbox{
        height:px2rem(105);
        width:px2rem(66);
        transform:skew(-30deg, 0);
        background:#1c2f4e;
        border-left:px2rem(3) solid #1f8bc8;
        border-right:px2rem(3) solid #1f8bc8;
        box-sizing:border-box;
        position:absolute;
        top:px2rem(-3);
        left:px2rem(750);
    }

    .nav-options{
        height:100%;
        // background:red;
        position:absolute;
        margin-left:px2rem(900);
        color:#1cb8ff;
        // background:red;
        display:flex;
        justify-content:space-around;
        align-items: center;
        font-size:px2rem(30);
        font-weight: 450;
        .option-item{
            margin:0 px2rem(21);
        }
    }

    // Triangle
    .sanjiao-nav {
        width: 0;
        height: 0;
        border-bottom: px2rem(42) solid #1c2f4e;
        border-right: px2rem(42) solid transparent;
        position: absolute;
        bottom:px2rem(-6);
        left:px2rem(-2);
    
    }
    .sanjiao-b-nav {
        width: 0;
        height: 0;
        border-bottom: px2rem(42) solid #1f8bc8;
        border-right: px2rem(42) solid transparent;
        position: absolute;
        bottom:px2rem(-2);
        left:px2rem(0);
    }
    // Triangle -teverse
    .sanjiao-nav-t {
        width: 0;
        height: 0;
        border-top: px2rem(42) solid #1c2f4e;
        border-left: px2rem(42) solid transparent;
        position: absolute;
        top:px2rem(-6);
        right:px2rem(-2);
    
    }
    .sanjiao-t-nav {
        width: 0;
        height: 0;
        border-top: px2rem(42) solid #1f8bc8;
        border-left: px2rem(42) solid transparent;
        position: absolute;
        top:px2rem(-2);
        right:px2rem(0);
    }

    //Trapezoid
    .trapezoid{
        position: absolute;
        bottom:px2rem(-4);
        left:px2rem(161);
        width: px2rem(250);
        border-left:px2rem(21) solid transparent;
        border-right:px2rem(21)solid transparent;
        border-bottom:px2rem(21)solid #1c2f4e;
    }
    .trapezoid-b{
        position: absolute;
        bottom: 0;
        left: px2rem(160);
        width: px2rem(254);
        border-left:px2rem(21) solid transparent;
        border-right:px2rem(21) solid transparent;
        border-bottom:px2rem(21) solid #1f8bc8;
    }
}
//content-container
.content-container{
    height:px2rem(1550);
    width:100%;
    display:block;
    padding:px2rem(24) px2rem(45);
    position:relative;
    // background-color:#ccc;
    .content-l, .content-m, .content-r{
        height:100%;
        float:left;
        padding:0;
        margin:0;
        // background-color:red;
    }
    .content-l{
        width:27%;
        padding-right:px2rem(30);
        position:relative;
        .l-content-t{
            height:32%;
            // background-color:yellow;
            box-sizing:border-box;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                left:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                left:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                right:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                right:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                left:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-42);
                    left:px2rem(48);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                left: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }
        }
        .l-content-m{
            height:32%;
            // background-color:red;
            box-sizing:border-box;
            margin:3% 0;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                left:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                left:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                right:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                right:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                left:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-42);
                    left:px2rem(30);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                left: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }

        }
        .l-content-b{
            height:32%;
            // background-color:blue;
            box-sizing:border-box;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                left:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                left:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                right:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                right:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                left:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-42);
                    left:px2rem(54);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                left: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }
        }
    }
    .content-m{
        width:46%;
        position:relative;
        // background-color:purple;
        .m-content-t{
            width:100%;
            height:58.5%;
            // background-color:skyblue;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            //Trapezoid -left
            .l-trapezoid{
                position: absolute;
                top:px2rem(152);
                left:px2rem(-6);
                height: px2rem(250);
                border-top:px2rem(21) solid transparent;
                border-bottom:px2rem(21)solid transparent;
                border-left:px2rem(36)solid #1c2f4e;
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(150);
                left: px2rem(-3);
                height: px2rem(254);
                border-top:px2rem(21) solid transparent;
                border-bottom:px2rem(21) solid transparent;
                border-left:px2rem(36) solid #1f8bc8;
            }
            //Trapezoid -right
            .r-trapezoid{
                position: absolute;
                top:px2rem(152);
                right:px2rem(-6);
                height: px2rem(250);
                border-top:px2rem(21) solid transparent;
                border-bottom:px2rem(21)solid transparent;
                border-right:px2rem(36)solid #1c2f4e;
            }
            .r-trapezoid-b{
                position: absolute;
                top: px2rem(150);
                right: px2rem(-3);
                height: px2rem(254);
                border-top:px2rem(21) solid transparent;
                border-bottom:px2rem(21) solid transparent;
                border-right:px2rem(36) solid #1f8bc8;
            }
        }
        .m-content-b{
            width:100%;
            height:41%;
            position:relative;
            // background-color:sandybrown;
            padding-top:2%;
            .m-content-b-l{
                width:49%;
                height:100%;
                margin-right:2%;
                // background-color:slateblue;
                float:left;
                box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
                border:px2rem(3) solid #1f8bc8;
                position:relative;
                //Trapezoid -left
                .l-trapezoid{
                    position: absolute;
                    top:px2rem(92);
                    left:px2rem(-6);
                    height: px2rem(160);
                    border-top:px2rem(21) solid transparent;
                    border-bottom:px2rem(21)solid transparent;
                    border-left:px2rem(36)solid #1c2f4e;
                }
                .l-trapezoid-b{
                    position: absolute;
                    top: px2rem(90);
                    left: px2rem(-3);
                    height: px2rem(163);
                    border-top:px2rem(21) solid transparent;
                    border-bottom:px2rem(21) solid transparent;
                    border-left:px2rem(36) solid #1f8bc8;
                }
            }
            .m-content-b-r{
                width:49%;
                height:100%;
                // background-color:aquamarine;
                float:left;
                box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
                border:px2rem(3) solid #1f8bc8;
                position:relative;
                .m-graph-wraper-b-r{
                    width:100%;
                    height:100%;
                    // background-color:yellow;
                    z-index: 999;
                }
                //Trapezoid -right
                .r-trapezoid{
                    position: absolute;
                    top:px2rem(92);
                    right:px2rem(-6);
                    height: px2rem(160);
                    border-top:px2rem(21) solid transparent;
                    border-bottom:px2rem(21)solid transparent;
                    border-right:px2rem(36)solid #1c2f4e;
                }
                .r-trapezoid-b{
                    position: absolute;
                    top: px2rem(90);
                    right: px2rem(-3);
                    height: px2rem(163);
                    border-top:px2rem(21) solid transparent;
                    border-bottom:px2rem(21) solid transparent;
                    border-right:px2rem(36) solid #1f8bc8;
                }
            }
        }
    }
    .content-r{
        width:27%;
        // background-color:green;
        padding-left:px2rem(30);
        position:relative;
        .r-content-t{
            height:32%;
            // background-color:yellow;
            box-sizing:content-box;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                right:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                right:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                left:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                left:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                right:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-36);
                    left:px2rem(72);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                right: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }
        }
        .r-content-m{
            height:32%;
            // background-color:red;
            box-sizing:content-box;
            margin:3% 0;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                right:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                right:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                left:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                left:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                right:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-42);
                    left:px2rem(42);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                right: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }
        }
        .r-content-b{
            height:32%;
            // background-color:blue;
            box-sizing:content-box;
            box-shadow: 0 0 px2rem(60) rgba(0, 204, 204, .75) inset; 
            border:px2rem(3) solid #1f8bc8;
            position:relative;
            // Triangle
            .l-sanjiao-nav-b {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1f8bc8;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-2);
                right:px2rem(-2);
            }
            .l-sanjiao-nav {
                width: 0;
                height: 0;
                border-bottom: px2rem(42) solid #1c2f4e;
                border-left: px2rem(42) solid transparent;
                position: absolute;
                bottom:px2rem(-6);
                right:px2rem(-3);
            
            }
            // Triangle -teverse
            .r-sanjiao-nav-t {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1f8bc8;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-3);
                left:px2rem(-2);
            
            }
            .r-sanjiao-nav {
                width: 0;
                height: 0;
                border-top: px2rem(42) solid #1c2f4e;
                border-right: px2rem(42) solid transparent;
                position: absolute;
                top:px2rem(-5);
                left:px2rem(-5);
            }
            //Trapezoid
            .l-trapezoid{
                position: absolute;
                top:px2rem(-4);
                right:px2rem(75);
                width: px2rem(250);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21)solid transparent;
                border-top:px2rem(36)solid #1c2f4e;
                a{
                    color:white;
                    position:absolute;
                    top:px2rem(-42);
                    left:px2rem(57);
                }
            }
            .l-trapezoid-b{
                position: absolute;
                top: px2rem(0);
                right: px2rem(74);
                width: px2rem(254);
                border-left:px2rem(21) solid transparent;
                border-right:px2rem(21) solid transparent;
                border-top:px2rem(36) solid #1f8bc8;
            }
        }
    }
}

