html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1c2f4e;
  /*border:1px solid red;*/
}

body .navbar-container {
  height: 1.75rem;
  margin: 0.15rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
  display: block;
}

body .navbar-container .logo-title {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

body .navbar-container .logo-title img {
  height: 81%;
  left: 0.5rem;
  float: left;
  margin: 0 0.5rem;
}

body .navbar-container .logo-title h3 {
  color: white;
  font-size: 0.55rem;
  float: left;
}

body .navbar-container .skewbox {
  height: 1.75rem;
  width: 1.1rem;
  transform: skew(-30deg, 0);
  background: #1c2f4e;
  border-left: 0.05rem solid #1f8bc8;
  border-right: 0.05rem solid #1f8bc8;
  box-sizing: border-box;
  position: absolute;
  top: -0.05rem;
  left: 12.5rem;
}

body .navbar-container .nav-options {
  height: 100%;
  position: absolute;
  margin-left: 15rem;
  color: #1cb8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5rem;
  font-weight: 450;
}

body .navbar-container .nav-options .option-item {
  margin: 0 0.35rem;
}

body .navbar-container .sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  left: -0.03333rem;
}

body .navbar-container .sanjiao-b-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  left: 0rem;
}

body .navbar-container .sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.1rem;
  right: -0.03333rem;
}

body .navbar-container .sanjiao-t-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.03333rem;
  right: 0rem;
}

body .navbar-container .trapezoid {
  position: absolute;
  bottom: -0.06667rem;
  left: 2.68333rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-bottom: 0.35rem solid #1c2f4e;
}

body .navbar-container .trapezoid-b {
  position: absolute;
  bottom: 0;
  left: 2.66667rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-bottom: 0.35rem solid #1f8bc8;
}

.content-container {
  height: 25.83333rem;
  display: block;
  padding: 0.4rem 0.75rem;
  position: relative;
}

.content-container .content-l, .content-container .content-m, .content-container .content-r {
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

.content-container .content-l {
  padding-right: 0.5rem;
  position: relative;
}

.content-container .content-l .l-content-t {
  height: 32%;
  box-sizing: border-box;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-l .l-content-t .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  left: -0.03333rem;
}

.content-container .content-l .l-content-t .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  left: -0.05rem;
}

.content-container .content-l .l-content-t .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  right: -0.03333rem;
}

.content-container .content-l .l-content-t .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  right: -0.08333rem;
}

.content-container .content-l .l-content-t .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  left: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-l .l-content-t .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.7rem;
  left: 0.8rem;
}

.content-container .content-l .l-content-t .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  left: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}

.content-container .content-l .l-content-m {
  height: 32%;
  box-sizing: border-box;
  margin: 3% 0;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-l .l-content-m .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  left: -0.03333rem;
}

.content-container .content-l .l-content-m .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  left: -0.05rem;
}

.content-container .content-l .l-content-m .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  right: -0.03333rem;
}

.content-container .content-l .l-content-m .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  right: -0.08333rem;
}

.content-container .content-l .l-content-m .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  left: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-l .l-content-m .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.7rem;
  left: 0.5rem;
}

.content-container .content-l .l-content-m .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  left: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}

.content-container .content-l .l-content-b {
  height: 32%;
  box-sizing: border-box;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-l .l-content-b .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  left: -0.03333rem;
}

.content-container .content-l .l-content-b .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  left: -0.05rem;
}

.content-container .content-l .l-content-b .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  right: -0.03333rem;
}

.content-container .content-l .l-content-b .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  right: -0.08333rem;
}

.content-container .content-l .l-content-b .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  left: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-l .l-content-b .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.7rem;
  left: 0.9rem;
}

.content-container .content-l .l-content-b .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  left: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}

.content-container .content-m {
  position: relative;
}

.content-container .content-m .m-content-t {
  width: 100%;
  height: 58.5%;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-m .m-content-t .l-trapezoid {
  position: absolute;
  top: 2.53333rem;
  left: -0.1rem;
  height: 4.16667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-left: 0.6rem solid #1c2f4e;
}

.content-container .content-m .m-content-t .l-trapezoid-b {
  position: absolute;
  top: 2.5rem;
  left: -0.05rem;
  height: 4.23333rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-left: 0.6rem solid #1f8bc8;
}

.content-container .content-m .m-content-t .r-trapezoid {
  position: absolute;
  top: 2.53333rem;
  right: -0.1rem;
  height: 4.16667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.6rem solid #1c2f4e;
}

.content-container .content-m .m-content-t .r-trapezoid-b {
  position: absolute;
  top: 2.5rem;
  right: -0.05rem;
  height: 4.23333rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.6rem solid #1f8bc8;
}

.content-container .content-m .m-content-b {
  width: 100%;
  height: 41%;
  position: relative;
  padding-top: 2%;
}

.content-container .content-m .m-content-b .m-content-b-l {
  width: 49%;
  height: 100%;
  margin-right: 2%;
  float: left;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-m .m-content-b .m-content-b-l .m-graph-wraper-b-l {
  width: 90%;
  height: 332px;
  z-index: 999;
}

.content-container .content-m .m-content-b .m-content-b-l .l-trapezoid {
  position: absolute;
  top: 1.53333rem;
  left: -0.1rem;
  height: 2.66667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-left: 0.6rem solid #1c2f4e;
}

.content-container .content-m .m-content-b .m-content-b-l .l-trapezoid-b {
  position: absolute;
  top: 1.5rem;
  left: -0.05rem;
  height: 2.71667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-left: 0.6rem solid #1f8bc8;
}

.content-container .content-m .m-content-b .m-content-b-r {
  width: 49%;
  height: 100%;
  float: left;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-m .m-content-b .m-content-b-r .m-graph-wraper-b-r {
  width: 100%;
  height: 332px;
  z-index: 999;
}

.content-container .content-m .m-content-b .m-content-b-r .r-trapezoid {
  position: absolute;
  top: 1.53333rem;
  right: -0.1rem;
  height: 2.66667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.6rem solid #1c2f4e;
}

.content-container .content-m .m-content-b .m-content-b-r .r-trapezoid-b {
  position: absolute;
  top: 1.5rem;
  right: -0.05rem;
  height: 2.71667rem;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  border-right: 0.6rem solid #1f8bc8;
}

.content-container .content-r {
  padding-left: 0.5rem;
  position: relative;
}

.content-container .content-r .r-content-t {
  height: 32%;
  box-sizing: content-box;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-r .r-content-t .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  right: -0.03333rem;
}

.content-container .content-r .r-content-t .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  right: -0.05rem;
}

.content-container .content-r .r-content-t .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  left: -0.03333rem;
}

.content-container .content-r .r-content-t .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  left: -0.08333rem;
}

.content-container .content-r .r-content-t .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  right: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-r .r-content-t .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.6rem;
  left: 1.2rem;
}

.content-container .content-r .r-content-t .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  right: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}

.content-container .content-r .r-content-m {
  height: 32%;
  box-sizing: content-box;
  margin: 3% 0;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-r .r-content-m .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  right: -0.03333rem;
}

.content-container .content-r .r-content-m .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  right: -0.05rem;
}

.content-container .content-r .r-content-m .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  left: -0.03333rem;
}

.content-container .content-r .r-content-m .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  left: -0.08333rem;
}

.content-container .content-r .r-content-m .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  right: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-r .r-content-m .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.7rem;
  left: 0.7rem;
}

.content-container .content-r .r-content-m .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  right: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}

.content-container .content-r .r-content-b {
  height: 32%;
  box-sizing: content-box;
  box-shadow: 0 0 1rem rgba(0, 204, 204, 0.75) inset;
  border: 0.05rem solid #1f8bc8;
  position: relative;
}

.content-container .content-r .r-content-b .l-sanjiao-nav-b {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1f8bc8;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.03333rem;
  right: -0.03333rem;
}

.content-container .content-r .r-content-b .l-sanjiao-nav {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid #1c2f4e;
  border-left: 0.7rem solid transparent;
  position: absolute;
  bottom: -0.1rem;
  right: -0.05rem;
}

.content-container .content-r .r-content-b .r-sanjiao-nav-t {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1f8bc8;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.05rem;
  left: -0.03333rem;
}

.content-container .content-r .r-content-b .r-sanjiao-nav {
  width: 0;
  height: 0;
  border-top: 0.7rem solid #1c2f4e;
  border-right: 0.7rem solid transparent;
  position: absolute;
  top: -0.08333rem;
  left: -0.08333rem;
}

.content-container .content-r .r-content-b .l-trapezoid {
  position: absolute;
  top: -0.06667rem;
  right: 1.25rem;
  width: 4.16667rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1c2f4e;
}

.content-container .content-r .r-content-b .l-trapezoid a {
  color: white;
  position: absolute;
  top: -0.7rem;
  left: 0.95rem;
}

.content-container .content-r .r-content-b .l-trapezoid-b {
  position: absolute;
  top: 0rem;
  right: 1.23333rem;
  width: 4.23333rem;
  border-left: 0.35rem solid transparent;
  border-right: 0.35rem solid transparent;
  border-top: 0.6rem solid #1f8bc8;
}
